/* 기본 라이트 모드 스타일 */
body {
    background-color: #ffffff;
    color: #000000;
}

/* 다크모드 스타일 */
body.night-mode {
    background-color: #1e1e1e;
    color: #f5f5f5;
}

body.night-mode a {
    color: #9ecaff;
}
