.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  
  &.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
}

.image-caption {
  margin: 2rem 0;
  text-align: center;
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  figcaption {
    font-size: 0.9rem;
    color: #797e83;  // Replace $muted-text-color with a specific color value
    font-style: italic;
  }
}